doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./index.css")
        title extract studio
    body 
        .--div
            .--grid
                .--flex
                    div
                        a.--white.--nolink.--spil(href="#") Information
                    div
                        a.--nolink.--spil(href="#") Work
                div 
                    p.--white Extract is a design studio that gives form to new ideas. With so much information out there, audiences have to work hard to unscramble what’s important. We help brands communicate effectively by bringing order and clarity to stories worth telling.
                    .--grid2 
                        div 
                            a.--nolink(href="#") hello@mail.studio
                            p.--white +44 (0) 20 7193 6474
                        div 
                            a.--nolink Bureau Design District 13 Soames Walk London SE10 0AX
            svg#svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 710.38 157.96')
                g
                    path#path1.logo__path.--path1(d='M0,154V0H110V29.04H34.32v31.9H106.7v28.6H34.32v35.42H113.52v29.04H0Z' data-svg-origin='0 0' style='transform-origin: 0px 0px; opacity: 1;' transform='matrix(1,0,0,1,0,0)')
                    path#path2.logo__path.--path2(d='M118.14,154l38.72-55.22-35.64-52.58h35.64l12.76,20.68c2.2,4.18,4.18,7.92,6.16,12.1,1.76-4.18,3.96-7.92,6.16-11.88l13.2-20.9h34.32l-36.3,52.58,37.4,55.22h-35.64l-14.3-23.54c-1.98-3.52-4.18-7.7-6.16-11.44-1.76,3.74-3.96,7.7-6.16,11.44l-15.4,23.54h-34.76Z' data-svg-origin='118.13999938964844 46.19999694824219' style='transform-origin: 0px 0px; opacity: 1;' transform='matrix(1,0,0,1,0,0)')
                    path#path3.logo__path.--path3(d='M257.18,117.7v-46.64h-23.32v-24.86h23.32V7.92h31.68V46.2h25.96v24.86h-25.96v42.24c0,10.78,4.18,17.38,15.84,17.38,2.42,0,5.28-.22,7.7-.66v24.2c-3.08,.88-9.9,1.98-16.94,1.98-25.52,0-38.28-12.98-38.28-38.5Z' data-svg-origin='233.8599853515625 7.920000076293945' style='transform-origin: 0px 0px; opacity: 1;' transform='matrix(1,0,0,1,0,0)')
                    path#path4.logo__path.--path4(d='M328.45,154V46.2h31.68v7.48c0,4.18-.22,7.48-.88,11.44,5.94-12.54,15.84-22.66,31.46-22.66,2.2,0,4.18,.22,5.72,.66v30.8c-1.76-.44-4.4-.88-7.92-.88-15.62,0-28.16,8.14-28.16,31.24v49.72h-31.9Z' data-svg-origin='328.4499816894531 42.46000289916992' style='transform-origin: 0px 0px; opacity: 1;' transform='matrix(1,0,0,1,0,0)')
                    path#path5.logo__path.--path5(d='M401.5,123.64c0-24.2,19.58-32.56,42.46-35.42l15.4-1.76c8.58-1.1,11.44-3.96,11.44-8.8,0-6.6-5.5-12.32-15.62-12.32-10.78,0-17.82,5.94-18.92,15.84h-32.34c1.76-22.44,20.9-38.72,50.16-38.72,33.88,0,47.74,17.6,47.74,47.96v63.58h-29.48v-3.96c0-3.3,.22-6.6,.88-9.9-5.72,10.56-16.94,17.82-34.54,17.82-18.92,0-37.18-12.32-37.18-34.32Zm69.96-11.22v-10.12c-2.2,1.98-5.72,3.08-12.1,4.4l-7.48,1.32c-11,1.98-18.26,5.94-18.26,14.08s6.38,13.2,14.96,13.2c12.98,0,22.88-9.24,22.88-22.88Z' data-svg-origin='401.4999694824219 42.459991455078125' style='transform-origin: 0px 0px; opacity: 1;' transform='matrix(1,0,0,1,0,0)')
                    path#path6.logo__path.--path6(d='M516.56,100.1c0-36.52,25.3-57.64,57.2-57.64s50.6,19.8,53.02,45.98h-31.9c-.88-11.22-7.48-20.9-20.9-20.9s-25.08,11-25.08,32.56c0,19.8,9.9,33.22,24.42,33.22s21.12-10.12,22.22-22h31.9c-3.52,28.38-21.78,46.64-55.22,46.64s-55.66-21.78-55.66-57.86Z' data-svg-origin='516.5599975585938 42.459999084472656' style='transform-origin: 0px 0px; opacity: 1;' transform='matrix(1,0,0,1,0,0)')
                    path#path7.logo__path.--path7(d='M652.74,117.7v-46.64h-23.32v-24.86h23.32V7.92h31.68V46.2h25.96v24.86h-25.96v42.24c0,10.78,4.18,17.38,15.84,17.38,2.42,0,5.28-.22,7.7-.66v24.2c-3.08,.88-9.9,1.98-16.94,1.98-25.52,0-38.28-12.98-38.28-38.5Z' data-svg-origin='629.4199829101562 7.920000076293945' style='transform-origin: 0px 0px; opacity: 1;' transform='matrix(1,0,0,1,0,0)')
        script(src="./logic.js") 
        




